@media screen and (max-width: 600px){
	html{
	scroll-behavior: smooth;
	}
	body{
	background-image: url("wales.webp");
	}
}


div.plogo {
	margin-top: 30px;
	margin-left: 30px;
}
div.plogo img{
	width: 30px;
	height: 30px;
	border-radius: 10px;
	margin-left: 20px;
}
div.plogo h1.Pythagon{
	font-size: 25px;
	font-family: 'Cinzel', serif;
	margin-left: 60px;
	margin-top: -32px;
	color: #16003B;
}
div.nav{
	display: inline-block;
	position: relative;
	float: right;
	margin-right: 40px;
	margin-top: -40px;
}
div.nav ul{
	word-spacing: 20px;


}
div.nav ul li{
	display: inline-block;
	position: relative;
	list-style: none;
	text-decoration-line: none;
	
}
/*a{
	color: black;
	text-decoration-line: none;
	font-family: 'Codystar', cursive;
*/
}
div.two{
	text-align: center;
	margin-top: 30px;
	background-color: yello;
	padding: auto;
	border:0;


}
div.two div.welcome{
	text-align: center;
	display: inline-block;
	background-color: blu;
	border:40px;
	padding-right: 60px;
	padding-left:60px;
	margin-right: 120px;
	position: relative;

}
div.two div.welcome p.welcome{
	font-family: 'Sacramento', cursive;
	font-size: 40px;
	text-transform: capitalize;
	color: black;
}
div.two div.welcome p.welcome span.one{
	font-size: 60px;
	color: hite;
}
div.two div.welcome p.welcome span.two{
	font-size: 55px;
	color: reen;
}
div.two div.weimg{
	display: inline-block;
	background-color: re;
	border:40px;
	padding-right:60px;
	border-top: 20px;
	margin-left: 120px;
	margin-top: 40px;
	grid-column-gap: 30px;
}
div.two div.weimg img{
	width: 350px;
	height: 350px;
	
}
div.three{
	text-align: center;
	margin-top: 30px;
	background-color:;
	padding: auto;
	border:0;
}
div.three div.nav{
	text-align: left;
	background-color: ;
	border:20px;

}
a.btn{
	text-decoration-line: none;
	color: white;
	font-family: 'Bitter', serif;
}
button.btn{
	text-align: center;
	padding: 10px 10px;
	width: 150px;
	height: 50px;
	background-color: #15133C;
	font-size: 20px;
	text-decoration-line: none;
	display: inline-block;
	border:1px solid black;
	border-radius: 20px;
	transition-duration: 0.4s;
}
a.btn:hover{
	color: #15133C;

}
button.btn:hover{
	background-color: #6A67CE;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
ul.three{
	list-style: none;

}
li.three{
	border:20px;
	margin: 20px;
	padding: 20px;

}
div.nav-apt{
	border: 20px;
	width: 250px;
	text-align: center;
	top: 0;

}
a.apt{
	text-decoration-line: none;
	font-size: 10px;
	color: #C2DED1;
	font-family: 'Arima Madurai', cursive;
}
a.apt:hover{
	color: #16003B;
	
}
button.apt{
	text-align: center;
	padding: 10px 10px;
	width: 120px;
	height: 50px;
	background-color: #15133C;
	font-size: 20px;
	text-decoration-line: none;
	display: inline-block;
	border:1px solid black;
	border-radius: 17px;
	transition-duration: 0.4s;
}
button.apt:hover{
	background-color: #6A67CE;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
/* LEARN MORE STYLE 
*/
div.oneone{
	display:flex;
	align-items: center;
	justify-content: center;
	align-items: center;
	justify-content: center;
	position: relative;
	background-color:;
	border:60px;
	margin-left: 60px;
	margin-top: 60px;
	
}
div.left{
	background-color:;
	float: left;
	margin-left: 60px;


}
div.right{
	background-color:;
	border:40;
	margin-top: 10px;

}
div.righttwo{
	background-color:;
	border:0 20 solid;
	margin-top: 5px;
}
div.left div.right h1{
	text-transform: capitalize;
	font-size: 40px;
	font-family: 'Kanit', sans-serif;
	text-shadow: 2px 4px 4px grey;
	color: 
}
div.left div.right h1{
	text-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 
}
div.left div.righttwo p{
	font-size:20px;
	width:350px;
	font-family: 'Open Sans', sans-serif;
	color: skyblue;
}
div.lefttwo{
	display: inline-block;
	float: bottom
	margin:60px;
	margin-left:160px;
	border:40px;


}
img.team{
	width: 380px;
	height: 320px;
}
div.if{
	text-align: center;
	margin-top: 50px;
}
div.fi h3{
	font-size: 35px;
	color: black;
	font-family: 'Kdam Thmor Pro', sans-serif;

}
div.of{
}
div.of p{
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;

}
div.ol{
	margin-top: 50px;

}
div.om{
	text-align: center;
}
div.om h3{
	font-size: 35px;
	color: black;
	font-family: 'Kdam Thmor Pro', sans-serif;
}
div.om p{
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}
div.lyon{
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	margin:12px 112px;
}
div.mas{
	display: inline-block;
	margin: :20px;
	padding-right: 80px;
	padding-left: 80px;
	border-radius: 20px;
	
}
div.mas:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 
}
div.mase{
	margin-left: 25px;
	padding-left:  25px;
}
div.mase img{
	width: 150px;
	height: 150px;
	box-shadow: grey;
	margin:20px;
}
div.mit{
	margin: 40px ;
	text-align: center;
	width: 230px;
	
}
div.mit h6{
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
}
div.mit p{
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
}
div.mus{
	display: inline-block;
	margin-left: 150px;
	padding-right: 80px;
	padding-left: 80px;
	border-radius: 20px;
}
div.mus:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 
}
div.muse{
	margin-left: 25px;
	padding-left:  25px;
}
div.muse img{
	width: 150px;
	height: 150px;
	box-shadow: grey;
	margin:20px;
}
div.mut{
	margin: 40px ;
	text-align: center;
	width: 230px;
	
}
div.mut h6{
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
}
div.mut p{
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
}