<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>

    </head>
    <body>
        <nav>
            <div>
                <h1>Insyder</h1>
            </div>
            <div>
                <ul>
                    <li>
                        <a href="http://127.0.0.1:5000/login">Login</a>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:5000/register">Register</a>
                    </li>
                    <li>
                        <a href="">About</a>
                    </li>
                </ul>
            </div>
        </nav>
        <hr>
        <header>
            <div>
                <div>
                    <h3>WORLD</h3>
                    <p>Get the latest World News:International news,features and analysis
                        from Africa,the Asia-Pacific,Europe and the Rest of the World
                    </p>

                </div>
                <div>
                    <img src="">

                </div>

            </div>
            <div>
                <div>
                    <h3>NIGERIA</h3>
                    <p> Virtual News on Nigeria,Officially the Federal Republic of Nigeria
                    </p>

                </div>
                <div>
                    <img src="">

                </div>
               
               
            </div>
            <div>
                <div>
                    <h3>TECHNOLOGY</h3>
                    <p>We examine and discuss new innovations,application of Digital and 
                        Physical skills,methods and processes used in Technical and Industrial
                    Production</p>

                </div>
                <div>
                    <img src="">

                </div>
               
                
            </div>
            <div>
                <div>
                    <h3>DESIGN</h3>
                    <p>We express and Convey to your reach,the process of constructing and 
                        developing Prototypes,designs and eventually the Products
                    </p>

                </div>
                <div>
                    <img src="">

                </div>
               
                
            </div>
            <div>
                <div>
                    <h3>CULTURE</h3>
                    <p>
                        Know the ideas,customs,languages,and social behaviour of different society
                        around the World
                    </p>

                </div>
                <div>
                    <img src="">

                </div>
                
                
            </div>
            <div>
                <div>
                    <h3>BUSINESS</h3>
                    <p>How do you set up your commercial,Industrial and professional business enterprice?
                        Read more on business news to get started.
                    </p>

                </div>
                <diV>
                    <img src="">

                </diV>
                
                
            </div>
            <div>
                <div>
                    <h3>POLITICS</h3>
                    <p>
                        "We hate the robbers so much that we would rather vote swindlers into position of Power"
                    </p>

                </div>
                <div>
                    <img src="">

                </div>
                
                
            </div>
            <div>
                <div>
                    <h3>SCIENCE</h3>
                    <p>
                        Keep up with the latest scitech news.We offer the best science and Tech news
                    </p>

                </div>
                <div>
                    <img src="">

                </div>
               
                
            </div>
            <div>
                <div>
                    <h3>HEALTH</h3>
                    <p>You need to be free from dieases mentally and Physically</p>

                </div>
                <div>
                    <img src="">

                </div>
                
                
            </div>
            <div>
                <div>
                    <h3>ADVENTURE</h3>
                    <p>
                        Walking on Water! Things you'd love to experience
                    </p>

                </div>
                <div>
                    <img src="">

                </div>
                
                
            </div>
            <div>
                <div>
                    <h3>CUISINE</h3>
                    <p>
                        Indulge in a symphony of flavours and recipe with the best 
                        cuisines from around the World
                    </p>

                </div>
                <div>
                    <img src="">

                </div>
               
               
            </div>
            <div>
                <div>
                    <h3>AGRICULTURE</h3>
                    <p>
                        Discover the latest agricultural research analysis from the best Personnel and Agencies 
                        around the Globe
                    </p>

                </div>
                <div>
                    <img>

                </div>
              
                
            </div>
            <div>
                <div>
                    <h3>SPORTS</h3>
                    <p>We offer the best sport news,tactical analysis and game breakdowns
                    </p>

                </div>
                <div>
                    <img src="">

                </div>
                
                
            </div>
            <div>
                <div>
                    <h3>CRUISE</h3>
                    <!-- <p>Imagine Usain Bolt chasing you with a cutlass(I need to Insert emoji)</p> -->

                </div>
                <div>
                    <img src="">

                </div>
               
                
            </div>
        </header>

    </body>
</html>