<!DOCTYPE html>
<html>
    <head>
        <title>
            file


        </title>
        

    </head>
    <body>
        <nav>
            <div>
                <h1>Insyder</h1>
            </div>
            <div>
                <ul>
                    <li>
                        <a href="http://127.0.0.1:5000/" >Home</a>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:5000/register" >Register</a>
                    </li>
                    <li>
                        <a href="" >About</a>
                    </li>
                </ul>
            </div>
        </nav>
        <header>
            <div>
                <h1>Login</h1>
            </div>
            <form  method="POST", action="{{url_for('login_page')}}">
                {{ form.csrf_token }}
                <div>
                    {% for message in get_flashed_messages() %}
                       <h3>{{ message }} </h3> 
                    {% endfor %}
                </div>
                <div>
                    
                    <p>
                        {{ form.email.label}} <br> {{ form.email(size=30)}}
                    </p>
                  
                </div>
                <div>
                    <p>
                        {{form.password.label}} <br> {{form.password(size=30)}}
                    </p>
                </div>
                <div>
                   <p>
                    {{form.submit}}
                   </p>
                </div>
            </form>
            

        </header>


    </body>
</html>